<div class="container-fluid">
	<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 box_border box_active h600">
		<md-toolbar class="md-hue-2 h35">
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Active/ToDo</span>
	        </h2>
	        <div class="fr wt-100p">
		        <button class="btn btn-default addimg" ng-click="addTask()">ADD+</button>
		        <span><img src="/images/filter-icon-30.png" class="filterimg"></span>
	        </div>
	      </div>
	    </md-toolbar>
	    <div class="col-sm-12 col-lg-12 cardcontainer">
		      <md-card ng-repeat="card in cards">
		        <div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
		            <span class="md-headline txt-center">
		            	<span style="text-align: center;font-size: 20px;font-weight: bold;">{{card.name}}</span>
		            	<span class="fl"><img style="height: 20px;width: 20px;" src="/images/{{card.priority}}.png"></span>
		            	<span class="fr fs-12">{{card.type}}</span>
		            </span>
		        </div>
		        <div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
		        	<p class="pmb"><b class="fs-12">From :</b> {{card.created_by}}</p>
		        	<p class="pmb"><b class="fs-12">For :</b> {{card.assigned_to}}</p>
		        	<p class="pmb"><b class="fs-12">Created On :</b> {{card.created_on | date}}</p>
		        	<p class="pmb"><b class="fs-12">Expiry On :</b> {{card.expires_on | date}}</p>
		        </div>
		        <div class="col-sm-12 col-lg-12">
		        	<md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">{{card.status}}</md-button>
		        	<md-button class="md-raised md-primary fr" type="submit">Add</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit">Delete</md-button>
		        </div>
		      </md-card>
	    </div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 box_border box_active h600">
		<md-toolbar class="md-hue-2 h35">
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Testing/QA</span>
	        </h2>
	        <div class="fr wt-100p">
		        <span><img src="/images/filter-icon-30.png" class="filterimg"></span>
	        </div>
	      </div>
	    </md-toolbar>
	    <div class="col-sm-12 col-lg-12 cardcontainer">
		       <!-- <md-card ng-repeat="card in cards">
		        <div class="col-sm-12 col-lg-12">
		            <span class="md-headline txt-center">{{card.name}}
		            	<span class="fs-14">( {{card.type}} )</span>
		            </span>
		        </div>
		        <div class="col-sm-12 col-lg-12">
		        	<p class="pmb"><b class="fs-12">From :</b> {{card.created_by}}</p>
		        	<p class="pmb"><b class="fs-12">For :</b> {{card.assigned_to}}</p>
		        	<p class="pmb"><b class="fs-12">Created On :</b> {{card.created_on | date}}</p>
		        	<p class="pmb"><b class="fs-12">Expiry On :</b> {{card.expires_on | date}}</p>
		        </div>
		        <div class="col-sm-12 col-lg-12">
		        	<md-button class="md-raised md-primary fl" type="submit">Add</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit">Delete</md-button>
		        </div>
		      </md-card> -->
	    </div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 box_border box_active h600">
		<md-toolbar class="md-hue-2 h35">
	      <div class="md-toolbar-tools">
	        <h2>
	          <span>Finished/Done</span>
	        </h2>
	        <div class="fr wt-100p">
		        <span><img src="/images/filter-icon-30.png" class="filterimg"></span>
	        </div>
	      </div>
	    </md-toolbar>
	    <div class="col-sm-12 col-lg-12 cardcontainer">
		       <!-- <md-card ng-repeat="card in cards">
		        <div class="col-sm-12 col-lg-12">
		            <span class="md-headline txt-center">{{card.name}}
		            	<span class="fs-14">( {{card.type}} )</span>
		            </span>
		        </div>
		        <div class="col-sm-12 col-lg-12">
		        	<p class="pmb"><b class="fs-12">From :</b> {{card.created_by}}</p>
		        	<p class="pmb"><b class="fs-12">For :</b> {{card.assigned_to}}</p>
		        	<p class="pmb"><b class="fs-12">Created On :</b> {{card.created_on | date}}</p>
		        	<p class="pmb"><b class="fs-12">Expiry On :</b> {{card.expires_on | date}}</p>
		        </div>
		        <div class="col-sm-12 col-lg-12">
		        	<md-button class="md-raised md-primary fl" type="submit">Add</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit">Delete</md-button>
		        </div>
		      </md-card> -->
	    </div>
	</div>
</div>

<script type="text/ng-template" id="addTask.html">
    <md-toolbar class="md-theme-light">
		<h2 class="md-toolbar-tools">
		  <span>Add Task</span>
		</h2>
	</md-toolbar>
    <form ng-submit="submitTask()" style="width: 500px">
	    <div class="modal-body">
			<md-input-container>
				<label>Task Name</label>
				<input required ng-model="newTask.name" pattern=".{1,15}" title="15 characters maximum">
			</md-input-container>
			<md-input-container>
				<label>Type of Task</label>
				<input required ng-model="newTask.type" pattern=".{1,10}" title="10 characters maximum">
			</md-input-container>
			<br>
			<md-input-container>
				<label>Task Description</label>
				<textarea ng-model="newTask.description" required rows="4" md-select-on-focus></textarea>
			</md-input-container>
			<br>
			<md-input-container>
				<label>Assigned To</label>
				<md-autocomplete required md-selected-item="newTask.assigned_to" md-search-text="searchText" md-items="item in getAssignEmails(searchText)" md-item-text="item" style="width: 200% !important;">
				  <md-item-template>
				    <span md-highlight-text="searchText">{{item}}</span>
				  </md-item-template>
				  <md-not-found>
				    No User found.
				  </md-not-found>
				</md-autocomplete>
			</md-input-container>
	    </div>
	    <div class="col-sm-12 col-lg-12 col-md-12">
	    	<md-datepicker class="fl" required ng-model="newTask.expires_on" md-placeholder="Expires On"
            md-min-date="minDate" md-max-date="maxDate">
            </md-datepicker>
	    	<md-input-container class="fl">
				<label>Priority</label>
				<md-select required ng-model="newTask.priority" style="margin-top: -8px;
    											  margin-left: 35px;">
	              <md-option value="{{'high'}}">
	                {{'High'}}
	              </md-option>
	              <md-option value="{{'medium'}}">
	                {{'Medium'}}
	              </md-option>
	              <md-option value="{{'low'}}">
	                {{'Low'}}
	              </md-option>
	            </md-select>
			</md-input-container>
	        <md-button class="md-raised md-primary fr" type="submit">Add</md-button>
	    </div>
	    <br>
	    <h4 style="color: red;text-align: center;">{{err}}</h4>
    </form>
</script>

<script type="text/ng-template" id="showCard.html">
	<div class="col-sm-12" style="width: 1000px !important;padding: 0px !important;height: 600px">
		<md-toolbar class="md-theme-light" >
			<h2 class="md-toolbar-tools">
			  <span>{{card.name}}</span>
			</h2>
		</md-toolbar>
		<br>
		<div class="col-sm-12" style="word-wrap: break-word;font-size: 20px;">
			<h3>Task Description - </h3>
			<p>{{card.description}}</p>
			<md-divider></md-divider>
		</div>
		<div class="col-sm-12" style="word-wrap: break-word;font-size: 20px;">
			<h3>Comments - </h3>
			<p></p>
		</div>
	</div>
</script>
