<div class="container-fluid">
	<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 box_border box_active h600">
		<md-toolbar class="md-hue-2 h35">
	      <div class="md-toolbar-tools">
	        <h2 class="wt-50">
	          <span>Task ToDo</span>
	        </h2>
	        <div class="fr wt-50p">
		        <button class="btn btn-default addimg" ng-click="addTask()">ADD+</button>
		        <span><img src="/images/refresh.png" class="filterimg" ng-click="updateCards()"></span>
		        <md-menu>
			      <img src="/images/filter-icon-30.png" class="filterimg" ng-click="openMenu($mdOpenMenu, $event)" style="margin-left: 2px;margin-bottom: 2px">
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-checkbox class="ml-10">
			            Tasks For Me
			          </md-checkbox>
			        </md-menu-item>
			        <md-menu-item>
			          <md-checkbox class="ml-10">
			            Tasks By Me
			          </md-checkbox>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			          <md-checkbox class="ml-10">
			            REJECTED Tasks
			          </md-checkbox>
			        </md-menu-item>
			        <md-menu-item>
			          <md-checkbox class="ml-10">
			            NEW Tasks
			          </md-checkbox>
			        </md-menu-item>
			      </md-menu-content>
			    </md-menu>
	        </div>
	      </div>
	    </md-toolbar>
	    <div class="col-sm-12 col-lg-12 cardcontainer">
			<md-card ng-repeat="card in cards | todo " ng-class="card.taskGet ? 'bg-grey-card' : 'bg-white-card'">
				<div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
				    <span class="md-headline txt-center">
				    	<span style="text-align: center;font-size: 20px;font-weight: bold;">{{card.name}}</span>
				    	<span class="fl"><img style="height: 20px;width: 20px;" src="/images/{{card.priority}}.png"></span>
				    	<span class="fr fs-12">{{card.type}}</span>
				    </span>
				</div>
				<div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
					<p class="pmb"><b class="fs-12">From :</b> {{card.created_by}}</p>
					<p class="pmb"><b class="fs-12">For :</b> {{card.assigned_to}}</p>
					<p class="pmb"><b class="fs-12">Created On :</b> {{card.created_on | date}}</p>
					<p class="pmb"><b class="fs-12">Expiry On :</b> {{card.expires_on | date}}</p>
				</div>
				<md-progress-circular ng-show="card.taskGet" class="md-accent md-hue-1" md-diameter="40" style="margin:auto"></md-progress-circular>
				<div class="col-sm-12 col-lg-12" ng-hide="card.taskGet">
					<md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">{{card.status}}</md-button>
		        	<md-button class="md-raised md-primary fr" type="submit" ng-if="user == card.created_by" ng-click="editTask($event,card)">Edit</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit" ng-if="user == card.created_by" ng-click="delete(card)">Delete</md-button>
		          	<md-button class="md-raised md-primary fr" type="submit" ng-if="user == card.assigned_to" ng-click="startTask(card)">Start</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit" ng-if="user == card.assigned_to" ng-click="reject(card)">Reject</md-button>
				</div>
			</md-card>
	    </div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 box_border box_active h600">
		<md-toolbar class="md-hue-2 h35">
	      <div class="md-toolbar-tools">
	        <h2 class="wt-50">
	          <span>Active/InProgress</span>
	        </h2>
	        <div class="fr wt-50p">
		        <span><img src="/images/refresh.png" class="filterimg" ng-click="updateCards()"></span>
		        <md-menu>
			      <img src="/images/filter-icon-30.png" class="filterimg" ng-click="openMenu($mdOpenMenu, $event)" style="margin-left: 2px;margin-bottom: 2px">
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">rrrrrrrrr</md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">rrrrrrrrr</md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			        	<md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">rrrrrrrrr</md-button>
			        </md-menu-item>
			      </md-menu-content>
			    </md-menu>
	        </div>
	      </div>
	    </md-toolbar>
	    <div class="col-sm-12 col-lg-12 cardcontainer">
			<md-card ng-repeat="card in cards | active " ng-class="card.taskGet ? 'bg-grey-card' : 'bg-white-card'">
		        <div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
		            <span class="md-headline txt-center">
		            	<span style="text-align: center;font-size: 20px;font-weight: bold;">{{card.name}}</span>
		            	<span class="fl"><img style="height: 20px;width: 20px;" src="/images/{{card.priority}}.png"></span>
		            	<span class="fr fs-12">{{card.type}}</span>
		            </span>
		        </div>
		        <div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
		        	<p class="pmb"><b class="fs-12">From :</b> {{card.created_by}}</p>
		        	<p class="pmb"><b class="fs-12">For :</b> {{card.assigned_to}}</p>
		        	<p class="pmb"><b class="fs-12">Created On :</b> {{card.created_on | date}}</p>
		        	<p class="pmb"><b class="fs-12">Expiry On :</b> {{card.expires_on | date}}</p>
		        </div>
		        <md-progress-circular ng-show="card.taskGet" class="md-accent md-hue-1" md-diameter="40" style="margin:auto"></md-progress-circular>
				<div class="col-sm-12 col-lg-12" ng-hide="card.taskGet">
		        	<md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">{{card.status}}</md-button>
		        	<md-button class="md-raised md-primary fr" type="submit" ng-if="user == card.created_by" ng-click="editTask($event,card)">Edit</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit" ng-if="user == card.created_by" ng-click="delete(card)">Delete</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit" ng-if="user == card.assigned_to" ng-click="reassign(card)">Pause</md-button>
		          	<md-button class="md-raised md-primary fr" type="submit" ng-if="user == card.assigned_to" ng-click="addQa(card)">ADD FOR Q/A</md-button>					
		        </div>
		    </md-card>
	    </div>
	</div>
	<div class="col-sm-4 col-md-4 col-lg-4 col-xs-12 box_border box_active h600">
		<md-toolbar class="md-hue-2 h35">
	      <div class="md-toolbar-tools">
	        <h2 class="wt-50">
	          <span>QA/Testing or Done</span>
	        </h2>
	        <div class="fr wt-50p">
		        <span><img src="/images/refresh.png" class="filterimg" ng-click="updateCards()"></span>
		        <md-menu>
			      <img src="/images/filter-icon-30.png" class="filterimg" ng-click="openMenu($mdOpenMenu, $event)" style="margin-left: 2px;margin-bottom: 2px">
			      <md-menu-content width="4">
			        <md-menu-item>
			          <md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">rrrrrrrrr</md-button>
			        </md-menu-item>
			        <md-menu-item>
			          <md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">rrrrrrrrr</md-button>
			        </md-menu-item>
			        <md-menu-divider></md-menu-divider>
			        <md-menu-item>
			        	<md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">rrrrrrrrr</md-button>
			        </md-menu-item>
			      </md-menu-content>
			    </md-menu>
	        </div>
	      </div>
	    </md-toolbar>
	    <div class="col-sm-12 col-lg-12 cardcontainer">
			<md-card ng-repeat="card in cards | qa " ng-class="card.taskGet ? 'bg-grey-card' : 'bg-white-card'">
		        <div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
		            <span class="md-headline txt-center">
		            	<span style="text-align: center;font-size: 20px;font-weight: bold;">{{card.name}}</span>
		            	<span class="fl"><img style="height: 20px;width: 20px;" src="/images/{{card.priority}}.png"></span>
		            	<span class="fr fs-12">{{card.type}}</span>
		            </span>
		        </div>
		        <div class="col-sm-12 col-lg-12 hand" ng-click="viewTask($event,card)">
		        	<p class="pmb"><b class="fs-12">From :</b> {{card.created_by}}</p>
		        	<p class="pmb"><b class="fs-12">For :</b> {{card.assigned_to}}</p>
		        	<p class="pmb"><b class="fs-12">Created On :</b> {{card.created_on | date}}</p>
		        	<p class="pmb"><b class="fs-12">Expiry On :</b> {{card.expires_on | date}}</p>
		        </div>
		        <md-progress-circular ng-show="card.taskGet" class="md-accent md-hue-1" md-diameter="40" style="margin:auto"></md-progress-circular>
				<div class="col-sm-12 col-lg-12" ng-hide="card.taskGet">
		        	<md-button class="fl md-raised md-primary" ng-disabled="true" type="submit" style="color: black !important">{{card.status}}</md-button>
		          	<md-button class="md-raised md-warn fr" type="submit" ng-if="user == card.created_by && card.status != 'DONE'" ng-click="reassign(card)">REASSIGN</md-button>
		          	<md-button class="md-raised md-primary fr" type="submit" ng-if="user == card.created_by && card.status != 'DONE'" ng-click="done(card)">DONE</md-button>
		          	<md-button class="md-raised md-primary fr" type="submit" ng-if="user == card.assigned_to && card.status != 'DONE'" ng-click="startTask(card)">MAKE CHANGES</md-button>
		        </div>
		    </md-card>
	    </div>
	</div>
</div>

