<div class="wrapper">
    <div class="chatContainer">
        <div class="left">
            <ul class="people">
                <li class="person" ng-repeat="x in clients">
                    <!-- <img src="http://s13.postimg.org/ih41k9tqr/img1.jpg" alt="" /> -->
                    <span class="name">{{x.name}}</span>
                    <span class="time">{{x.time}}</span>
                    <!-- <span class="preview">I was wondering...</span> -->
                </li>
            </ul>
        </div>
        <div class="right">
            <div class="chat" data-chat="person1" id="messages" >
                <div class="conversation-start">
                <span>Welcome to chat room !</span>
                </div>
                <div class="bubble you">
                    Hello,
                </div>
                
            </div>
            <div class="write">
                <form ng-submit="send(msg)">
                    <input type="text" required ng-model="msg" />
                    <md-button type="submit" class="md-raised md-primary">Send</md-button>
                </form>
            </div>
        </div>
    </div>
</div>