<div class="wrapper">
    <div class="chatContainer">
        <div class="left col-sm-4">
            <ul class="people" ng-show="clientListProgress">
                <li class="person" ng-repeat="x in clients">
                    <span class="name">{{x.name}}</span>
                    <span class="time">{{x.time}}</span>
                    <span class="preview">{{x.email}}</span>
                </li>
            </ul>
            <md-progress-circular md-mode="indeterminate" md-diameter="80px" class="md-primary" ng-hide="clientListProgress"></md-progress-circular>
        </div>
        <div class="right col-sm-8">
            <div class="chat" data-chat="person1" id="messages" >
                <div class="conversation-start">
                <h4>Welcome to chat room !</h4>
                </div>
                <div class="bubble you">
                    Hello from Admin,
                </div>                
            </div>
             <div class="col-lg-12 ml-mr-no">
                <form ng-submit="send(msg)">
                    <div class="input-group">
                      <input type="text" class="form-control po-inp" required ng-model="msg" placeholder="type your message" style="border: 2px solid;">
                      <span class="input-group-btn">
                        <md-button type="submit" class="md-raised md-primary">Send</md-button>
                      </span>
                    </div>
                  </div>
              </form>
        </div>
    </div>
</div>